/* @font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Roboto"), url("/fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto/Roboto-Regular.woff") format("woff");
  } */
@font-face {
    font-family: "RobotoSlab";
    src: local("RobotoSlab"),
    url("/fonts/RobotoSlab/RobotoSlab-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("/fonts/RobotoSlab/static/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Galliard-Std-Roman";
    src: local("Galliard-Std-Roman"),
    url("/fonts/Galliard-Std-Roman/ITC-Galliard-Std-Roman_24635.ttf") format("truetype");
}

@font-face {
    font-family: "Times";
    src: local("Times"),
    url("/fonts/Times/TIMESR.ttf") format("truetype");
}